---
---

//variables for colors
$base-color: #546E7A;
$base-highlight: #EEEEEE;
$text-color-light: #F5F5F5;
$text-color-dark: #616161;

@import 'reset';
@import 'header';
@import 'footer';
@import 'index';

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 44px;
}
.show {
  display: block;
}
.content {
  width: 80%;
  padding: 25px 0;
  margin: 0 auto;
}
