$footer-bg-color: #546E7A;
$text-color-light: #F5F5F5;
$text-color-dark: #616161;

footer {
  position: absolute;
  bottom: 0;
  height: 44px;
  width: 100%;
  padding: 0 15px;
  background-color: $footer-bg-color;
  .footer-links {
    li {
      display: inline-block;
      padding: 10px 5px;
      a {
        color: $text-color-light;
      }
    }
  }
}
