$header-bg-color: #1976D2;
$text-color: #F5F5F5;
$text-hover-color: #616161;
$mobile-nav-color: #EEEEEE;

header {
  padding: 10px;
  background: $header-bg-color;
  a {
    font-size: 1.3em;
    color: $text-color;
  }
}
.dropdown {
  float: right;
}
.dropdown-btn {
  display: none;
  height: 33px;
  width: 43px;
}
.navbar {
  list-style: none;
  li {
    display: inline-block;
    padding: 0 5px;
    border-radius: 8%;
    a {
      line-height: 1.3em;
    }
    a:hover {
      color: $text-hover-color;
    }
  }
  li:hover {
    background: white;
  }
}
header:after {
  content: "";
  display: table;
  clear: right;
}
.mobile-nav {
  display: block;
  position: absolute;
  right: 10px;
  width: 80px;
  background-color: $mobile-nav-color;
  li {
    display: block;
    a {
      color: $text-hover-color;
    }
  }
}
@media only screen and (max-width: 600px) {
  .dropdown-btn {
    display: inline-block;
  }
  .navbar {
    display: none;
  }
}
